
* { margin: 0; padding: 0; }

body{
	width: 1000px;
    margin: 0 auto;
}

header, footer, nav, main {
	width: 100%;
	background-color: rgba(155, 0, 0, 0.795);
    padding: 10px 0;
    color: white;
}




/*En el header h1 asigno que con display que no se mueva el texto debajo de la imagen, con align-item y justify-content alineo la imagen al centro, con color pongo color y margin-top deja un margen superior.*/
.logo{
    height: 80px;
    width: 80px;
    float: left;
}
header h1 {
    margin-top: 15px;
display: inline-flex;
    justify-content: center;
    align-items: center;

      
}
header{
   min-height: 8vh; 
}

header, footer, nav {
    text-align: center;
}  

footer {
    border-radius: 0px 0px 9px 9px;
}

footer p {
    line-height: 0.6em;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0px;
}

nav {
    background-color: #7c3232;
}

nav ul {
    text-align: center;
    margin-bottom: 2px;
}

nav ul a {
    display: inline-block;
    border: 5px solid rgb(150, 150, 150);
    padding: 10px 20px;
    margin: 0 10px;
    text-align: center;
    background-color: rgb(30, 0, 200);
    color: white;
    font-weight: bold;
    font-family: Arial;
    border-radius: 10px 10px 10px 10px;
}

nav a {
    color: white;
    text-decoration: none;
}

nav ul a:hover {
    background-color: #8a84ad;
    color: black;
}

.noenlace {
    background-color: #8a84ad;
    color: black;
}

/* ******** Botones de menú ****** */

.btn-3d {
    display: inline-block;  
    margin: 0px 2px;
    padding: .6rem 1rem;
    border: 1px solid #995309;
    border-radius: 4px;
    background-color: #d9750b;
    color: #fff;
  
    font-size: 1.1rem;
    font-family: 'Trebuchet MS';
    text-shadow: 0 -1px 0 rgba(0,0,0,.5);
    box-shadow: 0 1px 0 rgba(255,255,255,.5) inset,
      0 1px 3px rgba(0,0,0,.2);
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f90),to(#e76a00));
    background-image: linear-gradient(#f90 10%,#e76a00 100%);
  }
  
  .btn-3d:hover, .btn-3d:focus {
    background-color: #e0811b;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
    background-image: linear-gradient(#f0a100 10%,#f70 100%);
  }
  
  .btn-3d:active {
    background-color: #cf6a00;
    box-shadow: 0 2px 3px 0 rgba(0,0,0,.2) inset;
    background-image: -webkit-gradient(linear,left top,left bottom,color-stop(10%,#f0a100),to(#f70));
    background-image: linear-gradient(#f0a100 10%,#f70 100%);
  }

/* ******** Fin Botones de menú ****** */


main {
    background-color: #ffc7c7;
    height: 1%;
    overflow: hidden;
    color: #0431FF;
    
}

main h1, main h2 {
    text-align: center;
    font-family: Arial;
}

main h3 {
    text-align: center;
    font-family: Arial;
    color: 0431FF;
}

main{
    display: flex;
    
    

    
 }
 .column1 {
    margin-left: 91.5px;
 }
 main img{

    margin: 11px;
 }

 main img:hover{
    filter: saturate(140%);
    transition:all .35s ease-in-out;
    scale: 1.05;
    border-radius:5%;
-webkit-border-radius:15%;
box-shadow: 0px 0px 15px 15px #91515d;
-webkit-box-shadow: 0px 0px 10px 10px #b14856;
 }
